---
description: The Trans Composers Project promotes and programs the works of trans and nonbinary composers.
---

<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css">

<h2 class="section-header">About</h2>

<article>

<p id="about-p">The <span id="tcp-name">Trans Composers Project</span> (TCP) seeks to celebrate trangender composers by providing them opportunities to connect, share, learn, and grow with other queer and allied musicians.</p>

</article>
