/*
 * TODO: custom color for unclicked `<a>`
 * */

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"); */

:root {
	--bg-light: hsl(230, 5%, 99%);
	--fg-dark: hsl(230, 3%, 18%);
	--link-color: hsl(230, 100%, 45%);
	--accent-gradient-bg: linear-gradient(
		to right,
		#eb79c5,
		/* 0 20%, */
		/* var(--bg-light), */
		#6a81f0
		/* 80% 100% */
	);

	/* size variables */
	--global-margin: 16px;
	--main-width: 50rem;
	--article-width: 45rem;
	--p-line-height: 1.75;
	--section-header-padding: 6px;
	--inside-gradient-line-margin: 14px;
	--header-footer-border-thickness: 3px;
	/* breakpoints */
	--menu-breakpoint-width: 560px;

	/* fonts */
	--body-font: "Atkinson Hyperlegible", "Helvetica", sans-serif;
	/* --body-font: "Open Sans", "Helvetica", sans-serif; */
	--body-font-weight: 400;

	font-family: var(--body-font);
	font-size: 17px;
	font-weight: var(--body-font-weight);
}

@media screen and (min-width: 768px) {
	:root {
		--global-margin: 7%;
	}

	header {
		margin-top: 32px;
	}
}
@media screen and (min-width: 940px) {
	:root {
		--global-margin: 12%;
	}

	header {
		margin-top: 40px;
	}
}
@media screen and (min-width: 1325px) {
	:root {
		--global-margin: 13%;
	}
}

/* ######## colors, sizes ######## */
body {
	background-color: var(--bg-light);
	color: var(--fg-dark);
}

a {
	& a:hover,
	a:focus,
	a:active,
	:not(a:visited) {
		color: var(--link-color);
	}
}

/* #### sticky footer #### */
html,
body {
	min-height: 100%;
	padding: 0;
	margin: 0;
}
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;

	/* fallback height */
	min-height: 100vh;
	/* new small viewport height for modern browsers */
	min-height: 100svh;
}

/* #### page sections #### */

main {
	margin-left: var(--global-margin);
	margin-right: var(--global-margin);
}

header {
	background-color: var(--bg-light);
	margin-top: 8px;
	margin-left: var(--global-margin);
	margin-right: var(--global-margin);
	padding-bottom: 16px;
	/* border-bottom: 3px solid var(--accent-gradient); */

	h1 {
		font-size: 1.75em;
		margin-bottom: 14px;
	}

	& #banner-heading {
		& a,
		a:hover,
		a:focus,
		a:active {
			color: inherit !important;
			text-decoration: none;
		}
	}

	& nav {
		margin-bottom: var(--inside-gradient-line-margin);
		font-size: 1.05em;
	}
}

@media screen and (max-width: 560px) {
	header h1 {
		font-size: 1.5em;
	}
}

footer {
	margin-left: var(--global-margin);
	margin-right: var(--global-margin);
	padding-bottom: 16px;

	& #social-icons {
		margin-top: var(--inside-gradient-line-margin);
		/* margin-bottom: 24px; */
		display: inline-flex;
		flex-flow: row wrap;
	}
	& #social-icons a:not(:last-child) {
		padding-right: 12px;
	}
}

article,
section {
	margin: 0 0 48px;
}
.sectionDescription {
	margin-bottom: 48px;
}

@media screen and (min-width: 660px) {
	article,
	section {
		margin: 0 0 64px;
	}
	/* .sectionDescription {
        margin-bottom: 64px;
    } */
}

/* #### individual elements #### */

.skip-link {
	/* referenced how TC does it; added &:not(:focus), removed !important; check if anyone can see it on first load */
	&:not(:focus) {
		height: 0px;
		width: 0px;
		margin: -1px;
		padding: 0;
		border: 0;
		overflow: hidden;
		position: absolute;
		word-wrap: normal;
	}
}

.gradient-line {
	max-width: 100%;
	padding-bottom: var(--header-footer-border-thickness);
	position: relative;
	background: var(--accent-gradient-bg);
}

nav a {
	margin-right: 12px;
}

/* hamburger menu */

#header-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align menu icon in center of button; fixes border too */
	align-items: center;
}

@media (max-width: 560px) {
	nav {
		display: none;
	}
}
@media (min-width: 561px) {
	#hamburger {
		display: none;
	}
}

#hamburger {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	background-repeat: no-repeat;
	padding: 0;
	margin: 3px 0 0 0;
	& img {
		vertical-align: middle;
	}
}

#hamburger:not(:hover),
#hamburger:not(:active) {
	background-color: transparent;
}

.show-menu {
	display: flex;
	flex-direction: column;
	align-items: end;
	& .menu-item {
		margin: 0 0 4px 0;
	}
}
